EXPO_PUBLIC_SUPABASE_URL=https://xtkhohkfoyltahosbbyw.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_uTm3NYR2eTZ3c0kZ3nqnkA_7v8oACKA
EXPO_PUBLIC_LLM_API_KEY=
EXPO_PUBLIC_LLM_ENDPOINT=https://api.openai.com/v1/chat/completions
